<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Detalle de producto"}) %>
<body>
     <!-- header-->
     <%- include("./partials/header.ejs") %>
     
      <main>
        <section class = seccionproducto>
            
            <div class = imagenproducto>
                <img src = "/images/products/<%= products.image %>" class= "Imagen de <%= products.name %>">
            </div>
            <div class = datosproducto>
                    <h2 class = tituloproducto>
                        <%= products.name %>
                    </h2>
                    <h3>
                       $ <%= products.price %>
                    </h3>
                    <h4>
                        <%= products.description %>
                    </h4>
                    <h5 class = "mediosdepagotext">
                        VER MEDIOS DE PAGO
                     </h5>
                     <div class = "mediosdepago"> 
                        <img src = "/images/mediosdepago.jpg" class= "Medios de pago">
                    </div>   
                     <h5>
                       <a class ="link" href = "https://www6.oca.com.ar/plataformaenvios/" target="_blank"> CALCULAR COSTOS DE ENVIO</a>
                     </h5>
                    
                    <div class = cantidad>
                        <div>
                       <h5>
                           CANTIDAD:
                        </h5>
                       </div>
                       <div>
                        <form action="/" method="GET" class="formulario-cantidad">
                           <div class = "control-formulario">
                               <input type="text" name="cantidad" placeholder="1" class="control" required>
                               <span class="feedback"></span> </div>
                           </form>
                       </div>
                       <div  class = cantidad1>
                       <h6>
                       AGREGAR AL CARRITO
                       </h6> 
                       <h6 class = "linkedita">
                        <a href="/products/edit/<%= products.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                      </h6>
                    </div>       
            </div>
           
        </section>

       
    </main>


      <!-- footer-->
      <%- include("./partials/footer.ejs") %>
  </body>
</html>