<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Registrate"}) %>
<body>
     <!-- header-->
     <%- include("./partials/header.ejs") %>
     
     
     <% if (locals.errors) { %>                        
        <% for( let oneError in errors) { %>
        <% } %>
    <% } %>



    <main>
    <section class = "login">
         <h2>
            CREAR CUENTA
        </h2>
          <h3>
           Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!
        </h3>
    </section>
    <section class = formulariologin>
        <div class = formulario>
            <form action="/user/register" method="POST" class="formulario-registracion" enctype="multipart/form-data">
                <!-- <form action="/" method="GET" class="formulario-registracion">-->
                    <div class = "control-formulario">
                         <!-- <DARLE UN ESTILO PARTICULAR AL FORMULARIO EN CASO DE ERROR>-->
                        <input type="text" 
                        name="fullName" 
                        placeholder="Nombre y apellido" 
                        class="control <%= locals.errors && errors.fullName ? "is-invalid" : null %>" 
                        minlength="2"
                        value = "<%= locals.oldData ? oldData.fullName : null  %>">
                        <span class="feedback"></span>
                        <% if (locals.errors && errors.fullName) { %>                        
                            <p class = errores><%= errors.fullName.msg %></p>
                        <% } %>
                    </div>
                    <div class = "control-formulario">
                        <input type="email" 
                        name="email" 
                        placeholder="Mail de usuario" 
                        class="control"
                        value = "<%= locals.oldData ? oldData.email : null  %>">
                        <% if (locals.errors && errors.email) { %>                        
                            <p class = errores><%= errors.email.msg %></p>
                        <% } %>
                    </div>
                    <div class = "control-formulario">
                        <label>Fecha de nacimiento:</label>
                        <input type="date" 
                        name="birthday" 
                        class="control"
                        value = "<%= locals.oldData ? oldData.date : null  %>">
                    </div>
                    <div class = "control-formulario">
                        <input type="text" 
                        name="direction" 
                        placeholder="Domicilio" 
                        class="control" 
                        value = "<%= locals.oldData ? oldData.direction : null  %>">
                        <% if (locals.errors && errors.direction) { %>                        
                            <p class = errores><%= errors.direction.msg %></p>
                        <% } %>
                    </div>
                    <div class = "control-formulario">
                        <label>Subir imagen:</label></div>
                        <div class = "control-formulario"> 
                            <label class= boton-formulario  style = "color: white" for = "avatar">Elegi tu foto</label>
                            <input type="file" name ="avatar" id = "avatar" accept=".jpg " multiple>
                            <% if (locals.errors && errors.avatar) { %>                        
                                <p class = errores><%= errors.avatar.msg %></p>
                            <% } %>
                         </div>
                    <div class = "control-formulario">
                        <label>Contraseña:</label>
                        <input type="password" 
                        name ="password" 
                        class ="control" 
                        required>
                        <% if (locals.errors && errors.password) { %>                        
                            <p class = errores><%= errors.password.msg %></p>
                        <% } %>
                    </div> 
                   <!-- <div class = "control-formulario">
                        <label>Repetí tu contraseña:</label>
                        <input type="password" 
                        name ="password2" 
                        class ="control" 
                        required>
                        <% if (locals.errors && errors.password2) { %>                        
                            <p class = errores><%= errors.password2.msg %></p>
                        <% } %>
                    </div> -->
                    <button type="submit" class="boton-formulario">Crear Cuenta</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </form>
        </div>
         <div class = imagenformulariocuenta>
        </div>
    </section>
    </main>


       <!-- footer-->
       <%- include("./partials/footer.ejs") %>
  </body>
</html>