<!DOCTYPE html>
<html lang="en">
    <!-- head-->
    <%- include("./partials/head.ejs", { tituloPagina: "Log in"}) %>
<body class = "wallpaper">
    <!-- header-->
    <%- include("./partials/header.ejs") %>

    <% if (locals.errors) { %>                        
        <% for( let oneError in errors) { %>
        <% } %>
    <% } %>

    <main>
    <section class = "sentencia">
        <section class = "cuerpoSentencia">
            <div class = "logoPJ">
            <img src = "./images/logo-pj.png">
            </div>
        <div class = "textoSentencia">
    
<p class = auto>AUTO N° &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROSARIO, </p> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ANTECEDENTES: Los autos caratulados “<%= products.autos %>”, CUIJ <%= products.cuij %>, de los que resulta que mediante escrito cargo nº <%= products.demanda %> la actora, por apoderada, promovió formal demanda ejecutiva contra <%= products.demandado %> tendiente al cobro de la suma de $<%= products.monto %>.- con más los intereses correspondientes hasta su total y efectivo pago, I.V.A. y costas.

Relató que el instrumento base de la presente acción es un pagaré sin protesto suscripto por la demandada por la suma de $<%= products.monto %>.- cuyo vencimiento operó en fecha <%= products.vencimientoPagare %>.

Citada la demandada a comparecer a estar a derecho, la misma no lo hace pese a estar debidamente notificada por cédula glosada mediante escrito cargo n° <%= products.cedComparecer %>. En fecha <%= products.fechaRebeldia %> se la declara rebelde, providencia notificada por cédula adjunta al escrito cargo n° <%= products.cedRebeldia %>. Mediante decreto de fecha <%= products.fechaCitacion %> se la cita de remate, no oponiendo excepción legítima alguna al progreso de la acción.

Evacuado el informe de mesa de entradas sobre la inexistencia de escritos pendientes de agregación, se encuentran los presentes obrados en estado de dictar sentencia. 

<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FUNDAMENTOS: Del análisis del pagaré acompañado surge que el mismo tiene vencimiento a día fijo, y que reúne los requisitos previstos por el art. 101 y cc. del decreto-ley 5965/1963, encontrándose habilitada su ejecución por la vía ejecutiva conforme art. 442 inc. 3° y cc. del CPCC. Asimismo, la actora se encuentra legitimada para promover la presente acción cambiaria directa contra el librador en su carácter de legitimado pasivo, conforme surge del propio título valor.

Decretada la rebeldía y citada de remate la demandada sin que opusiera excepción legítima, se encuentra la presente en estado de resolver, adelantando desde ya que habiéndose verificado el cumplimiento de los requisitos extrínsecos que hacen a la habilidad del título, y atento la ausencia de contradictorio, tendré por ciertos los extremos invocados por la parte actora en su escrito de demanda.

En este sentido, no obrando en autos prueba que contraríe las invocaciones de la actora respecto al vencimiento operado, la falta de pago invocada y de los pagos parciales efectuados a su respecto, los tendré por ciertos a los fines del cálculo de la acreencia reclamada.

Consecuentemente, conforme lo previsto por el art. 473 y cc. del CPCC, no habiendo opuesto la demandada excepciones al progreso de la presente acción, corresponde llevar adelante la ejecución por la suma reclamada con más intereses, IVA si correspondiere y costas.

Respecto de los intereses peticionados, se devengarán intereses moratorios (conf. Arts. 30, 52, 53, 104 y cc. decreto-ley 5965/1963) desde la fecha de vencimiento del pagaré y hasta el efectivo pago conforme la tasa pactada mas, haciendo uso de la facultad judicial de morigerar los intereses que prevé el art. 771 del CCC, la misma no podrán superar el tope máximo equivalente a la Tasa Activa para descuento de documentos a 30 días del Banco de la Nación Argentina, Sumada.

En caso de retardo en el pago de los gastos del presente proceso, los mismos devengarán desde la mora y hasta el efectivo pago intereses a la tasa pasiva del BCRA. 

<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por lo hasta aquí expuesto, RESUELVO: 1) Mandar a llevar adelante la ejecución contra <%= products.demandado %>, hasta tanto la actora se haga íntegro cobro del capital reclamado con más los intereses indicados en los fundamentos precedentes e IVA si correspondiere. 2) Imponer las costas a la vencida (art. 251 CPCC). 3) Diferir la regulación de honorarios al momento de quedar firme la planilla correspondiente. Insértese y hágase saber. </p> 
<input type="button" onclick="history.back()" class="boton-formulario" name="volver atrás" value="CORREGIR">
</div>    
</section>
</section>
    
    </main>


    <!-- footer-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>